@model IEnumerable<RealEstateOfficeMvc.Models.RealEstate>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
        background-color: lightblue;
        color: white;
        text-align: left;
    }
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>




<table>
<tr>
    <th>Id</th>
    <th>Nieruchomość</th>
    <th>Cena</th>
    <th>Powierzchnia</th>
    <th>Liczba pokoi</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Miejscowość</th>
    <th>Ulica</th>
    <th>Numer posesji</th>

</tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.typeOfRealEstate</td>
        <td>@item.Price</td>
        <td>@item.Area</td>
        <td>@item.RoomsAmount</td>
        <td>@item.OwnerName</td>
        <td>@item.OwnerSurname</td>
        <td>@item.City</td>
        <td>@item.Street</td>
        <td>@item.EstateAddress</td>
    </tr>

}
</table>

