@model HomeViewModel

@{
    var usertypeString = Context.Session.GetString(Appsettings.SESSIONTYPUSER);
    var usertype = String.IsNullOrEmpty(usertypeString) ? 0 : int.Parse(usertypeString);
}

@{ var stuff = Model.filtersShow ? "show" : "";}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
        background-color: black;
        color: white;
        text-align: left;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<table>
    <tr>


        <button type="button" class="btn btn-info " data-toggle="collapse" data-target="#FilterForm" onclick="changeLabel(this)">Schowaj filtry</button>

        &nbsp;

        @if (usertype == 1 || usertype == 2) //dla admina i pracownika widoczne
        {
            <form asp-controller="RealEstate" asp-action="Index" method="post">
                <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Dodaj nieruchomość">Dodaj nieruchomość <i class="bi bi-file-earmark-plus-fill"></i></button>
            </form>
        }
    </tr>

    <div class="collapse @stuff" id="FilterForm">
        <partial name="_FilterForm" model="(Model.filter, Model.realEstateTypeList)" />
    </div>

    @*<div>
        Sortowanie (domyślnie: rosnąco, odznacz żeby było malejąco):
        @Html.CheckBoxFor(m => m.searchResults.IsDescending)
        według
        @Html.DropDownListFor(m => m.searchResults.resultsSortOrder,
            new SelectList(Enum.GetValues(typeof(SearchResults.ResultsSortOrder))))
        <div class="input-group col-8">
            Ilość wyników:
            @Html.EditorFor(m => m.searchResults.PageSize)
            @Html.EditorFor(m => m.searchResults.PageNumber)
        </div>
        
    </div>*@
</table>



<table>
    <tr>
        <th>Nieruchomość</th>
        <th>Cena (pln)</th>
        <th>Powierzchnia (m2)</th>
        <th> Pokoje </th>
        <th>Właściciel</th>
        <th>Lokalizacja</th>
        <th>Cena/m2</th>

        @if (usertype == 3) //dla zalogowanego klienta
        {
            <th></th>
            //polub
        }
        <th></th>  @*podgląd*@

        @if (usertype == 1 || usertype == 2) //dla admina i pracownika widoczne
        {
            <th></th>

            <th></th>
        }
    </tr>


    @foreach (var item in Model.realEstateList)
    {
        <tr>
            <td>
                @if (@item.Typeofrealestate == 0)
                {
                    <p>Dom</p>
                }
                else if (@item.Typeofrealestate == 1)
                {
                    <p>Mieszkanie</p>
                }
                else if (@item.Typeofrealestate == 2)
                {
                    <p>Działka </p>
                }
                else if (@item.Typeofrealestate == 3)
                {
                    <p>Garaż  </p>
                }
                else if (@item.Typeofrealestate == 4)
                {
                    <p>Lokal_usługowy  </p>
                }
                else
                {
                    <p></p>
                }
            </td>
            <td>@item.Price</td>
            <td>@item.Area</td>
            <td>@(item.Roomamount > 0 ? item.Roomamount : "-")</td>
            <td>@item.Ownername @item.Ownersurname </td>
            <td>@item.City @item.Street @item.EstateAddress</td>
            <td>@(Math.Round(item.Price / item.Area,2).ToString("N2"))</td>

            @if (usertype == 3) //dla zalogowanego klienta
            {
                <td>
                    <form asp-controller="Favourite" asp-action="Like" method="post">
                        <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Dodaj na listę ulubionych"><i class="bi bi-hand-thumbs-up"></i></button>
                        <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                    </form>
                </td>

            }


            <td>
                <a class="btn btn-info" title="Podgląd" asp-controller="RealEstate"
                   asp-action="Details" method="post"
                   asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
            </td>





            @if (usertype == 1 || usertype == 2) //dla admina i pracownika widoczne
            {

                <td>
                    <a class="btn btn-info" title="Edytuj" asp-controller="RealEstate"
                       asp-action="EditEstate"
                       asp-route-id="@item.Id"><i class="bi bi-wrench"></i></a>
                </td>

                <td>
                    <form asp-controller="RealEstate" asp-action="RemoveRealEstate" method="post">
                        <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Usuń" onclick="return confirm('Czy na pewno chcesz usunąć tą nieruchomość?')"><i class="bi bi-trash"></i></button>
                        <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                    </form>
                </td>

            }

        </tr>


    }
</table>


<script>
    function changeLabel(el) {
        if (el.innerHTML === "Pokaż filtry")
            el.innerHTML = "Schowaj filtry";
        else el.innerHTML = "Pokaż filtry";
    }
</script>


