@model IEnumerable<RealEstateOfficeMvc.Models.RealEstate>

@{
    var usertypeString = Context.Session.GetString(Appsettings.SESSIONTYPUSER);
    var usertype = String.IsNullOrEmpty(usertypeString) ? 0 : int.Parse(usertypeString);
}



<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
        background-color: lightblue;
        color: white;
        text-align: left;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    
</style>

<table>
    <tr>
        
            <button type="button" class="btn btn-info " data-toggle="collapse" data-target="#FilterForm" onclick="changeLabel(this)">
                Pokaż filtry
            </button>
       

        &nbsp;

        @if (usertype == 1 || usertype == 2) //dla admina i pracownika widoczne
        {
            @using (Html.BeginForm("Index", "RealEstate"))
            {
                <input type="submit" class="btn btn-info" value="Dodaj nieruchomość"/>
            }
        }
    </tr>

    <div class="collapse" id="FilterForm">
        <partial name="_FilterForm" />
    </div>
</table>

<table>
    <tr>
        <th>Nieruchomość</th>
        <th>Cena(pln)</th>
        <th>Powierzchnia(m2)</th>
        <th> Pokoje </th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Miejscowość</th>
        <th>Ulica</th>
        <th>Numer posesji</th>
        <th>Cena/m2</th>
        
        @if (usertype == 3) //dla zalogowanego klienta
        {
         <th></th>   //polub
        }
        <th></th>  @*podgląd*@

        @if (usertype == 1 || usertype == 2) //dla admina i pracownika widoczne
        {
            <th></th>  
            <th></th>
            <th>Załącz zdjęcie</th>
        }
    </tr>

    @foreach (var item in Model)
    {
    <tr>

    <td>@item.typeOfRealEstate</td>
    <td>@item.Price</td>
    <td>@item.Area</td>
    <td>@item.RoomsAmount</td>
    <td>@item.OwnerName</td>
    <td>@item.OwnerSurname</td>
    <td>@item.City</td>
    <td>@item.Street</td>
    <td>@item.EstateAddress</td>
    <td>@(Math.Round(item.Price / item.Area,2).ToString("N2"))</td>

            @if (usertype == 3) //dla zalogowanego klienta
            {
                
                 @using (Html.BeginForm("Like", "Favourite", FormMethod.Post))
                 {
                    <td>
                        <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Dodaj na listę ulubionych"><i class="bi bi-hand-thumbs-up"></i></button>
                        <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                    </td>         
                 }
                 
             }


            @using (Html.BeginForm("Details", "RealEstate", FormMethod.Post))
            {
                <td>
                    <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Podgląd"><i class="bi bi-eye"></i></button>
                    <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                </td>

            }



            @if (usertype == 1 || usertype == 2) //dla admina i pracownika widoczne
            {

                <td>
                    @using (Html.BeginForm("EditEstate", "RealEstate", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edytuj"><i class="bi bi-wrench"></i></button>
                        <input type="hidden" id="realedit" name="realedit" value=@item.Id>
                    }
                </td>

                <td>
                    @using (Html.BeginForm("RemoveFromDatabase", "RealEstate", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Usuń" onclick="return confirm('Czy na pewno chcesz usunąć tą nieruchomość?')"><i class="bi bi-trash"></i></button>
                        <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                    }
                </td>

                <td>
                    <form asp-controller="RealEstate" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                        <p><input class="btn btn-info" type="file" name="file"/> <button class="btn btn-info" type="submit"><i class="bi bi-save"></i></button></p>
                        <input type="hidden" id="realedit" name="realedit" value=@item.Id>
                    </form>
                </td>

            }

        </tr>


    }
</table>

<script>
    function changeLabel(el) {
        if ( el.innerHTML === "Schowaj filtry" )
            el.innerHTML = "Pokaż filtry";
        else
            el.innerHTML = "Schowaj filtry";
    }
</script>

