@model IEnumerable<RealEstateOfficeMvc.Models.User>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
        background-color: lightblue;
        color: white;
        text-align: left;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


@using (Html.BeginForm("Index", "Register"))
{
    <input type="submit" class="btn btn-info" value="Dodaj użytkownika" />
}

<table>
    <tr>
        
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
        <th>Rola</th>
        <th>E-mail</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Surname</td>
    <td>@item.Login</td>
    <td>@item.TypeOfUserType</td>
    <td>@item.EmailAddress</td>
    
    <td>
        @using (Html.BeginForm("EditUser", "Users", FormMethod.Post))
        {
            <button type="submit" class="btn btn-info">Edycja</button>
            <input type="hidden" id="useredit" name="useredit" value=@item.Id>
        }
    </td>
    <td>
        @using (Html.BeginForm("RemoveUser", "Users", FormMethod.Post))
        {
            <button type="submit" class="btn btn-danger">Usuń</button>
            <input type="hidden" id="userid" name="userid" value=@item.Id>
        }
    </td>
</tr>

    }
</table>
