@model IEnumerable<RealEstateOfficeMvc.Domain.User>


<style>
    table {
        border-collapse: collapse;
        width: 90%;
        margin: 10px auto;
    }

    th {
        height: 70px;
        background-color: black;
        color: white;
        text-align: left;
        padding: 8px;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background: #eee;
    }
</style>


@using (Html.BeginForm("Index", "Register"))
{
<button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Dodaj użytkownika">Dodaj użytkownika <i class="bi bi-file-earmark-plus-fill"></i></button>
}

<table>
    <tr>

        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
        <th>Rola</th>
        <th>E-mail</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Surname</td>
    <td>@item.Login</td>
    <td>
        @if (@item.UserType == 1)
        {
            <p>Administrator</p>
        }
        else if (@item.UserType == 2)
        {
            <p>Pracownik biura</p>
        }
        else if (@item.UserType == 3)
        {
            <p>Klient </p>
        }
        else
        {
            <p></p>
        }
     </td>

    <td>@item.Emailaddress</td>

    <td>
        @using (Html.BeginForm("EditUser", "Users", FormMethod.Post))
        {
            <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edytuj"><i class="bi bi-wrench"></i></button>
            <input type="hidden" id="useredit" name="useredit" value=@item.Id>
        }
    </td>
    <td>
        @using (Html.BeginForm("RemoveUser", "Users", FormMethod.Post))
        {
            <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Usuń" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')"><i class="bi bi-trash"></i></button>
            <input type="hidden" id="userid" name="userid" value=@item.Id>
        }
    </td>
</tr>

    }
</table>
