
@model IEnumerable<RealEstateOfficeMvc.Domain.RealEstate>

@{
    var usertypeString = Context.Session.GetString(Appsettings.SESSIONTYPUSER);
    var usertype = String.IsNullOrEmpty(usertypeString) ? 0 : int.Parse(usertypeString);
}



<style>
    table {
        border-collapse: collapse;
        width: 90%;
        margin: 10px auto;
    }

    th {
        height: 70px;
        background-color: black;
        color: white;
        text-align: left;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #like-button {
        width: 100px;
        height: 40px;
    }

        #like-button svg {
            width: 25px;
            height: 25px;
        }
</style>


<table>
    <tr>

        <th>Nieruchomość</th>
        <th>Cena (pln)</th>
        <th>Powierzchnia (m2)</th>
        <th> Pokoje </th>
        <th>Właściciel</th>
        <th>Lokalizacja</th>
        <th>Cena/m2</th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @if (@item.Typeofrealestate == 0)
        {
            <p>Dom</p>
        }
        else if (@item.Typeofrealestate == 1)
        {
            <p>Mieszkanie</p>
        }
        else if (@item.Typeofrealestate == 2)
        {
            <p>Działka </p>
        }
        else if (@item.Typeofrealestate == 3)
        {
            <p>Garaż  </p>
        }
        else if (@item.Typeofrealestate == 4)
        {
            <p>Lokal usługowy  </p>
        }
        else
        {
            <p></p>
        }
    <td>@item.Price</td>
    <td>@item.Area</td>
    <td>@item.Roomamount</td>
    <td>@item.Ownername @item.Ownersurname</td>
    <td>@item.City @item.Street @item.EstateAddress </td>
    <td>@(Math.Round(item.Price / item.Area,2).ToString("N2"))</td>
    @if (usertype == 3)
    {
        <td>
            <a class="btn btn-info" title="Podgląd" asp-controller="RealEstate"
               asp-action="Details" method="post"
               asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
        </td>
        <td>
            @using (Html.BeginForm("Unlike", "Favourite", FormMethod.Post))
            {
                <button type="submit" id="dislike-button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Usuń z listy ulubionych"><i class="bi bi-x"></i></button>
                <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
            }
        </td>
    }

</tr>


    }
</table>

