
@model IEnumerable<RealEstateOfficeMvc.Models.RealEstate>

@{
    var usertypeString = Context.Session.GetString(Appsettings.SESSIONTYPUSER);
    var usertype = String.IsNullOrEmpty(usertypeString) ? 0 : int.Parse(usertypeString);
}



<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
        background-color: lightblue;
        color: white;
        text-align: left;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #like-button {
        width: 100px;
        height: 40px;
    }

        #like-button svg {
            width: 25px;
            height: 25px;
        }
</style>


<table>
    <tr>

        <th>Nieruchomość</th>
        <th>Cena(pln)</th>
        <th>Powierzchnia(m2)</th>
        <th> Pokoje </th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Miejscowość</th>
        <th>Ulica</th>
        <th>Numer posesji</th>
        <th>Cena/m2</th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>@item.typeOfRealEstate</td>
        <td>@item.Price</td>
        <td>@item.Area</td>
        <td>@item.RoomsAmount</td>
        <td>@item.OwnerName</td>
        <td>@item.OwnerSurname</td>
        <td>@item.City</td>
        <td>@item.Street</td>
        <td>@item.EstateAddress</td>
        <td>@(Math.Round(item.Price / item.Area,2).ToString("N2"))</td>
                @if (usertype == 3)
                 { 
                    <td>
                        @using (Html.BeginForm("Details", "RealEstate", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Podgląd"><i class="bi bi-eye"></i></button>
                            <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                        }
                    </td>
                    
                    <td>
                        @using (Html.BeginForm("Unlike", "Favourite", FormMethod.Post))
                        {
                            <button type="submit" id="dislike-button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Usuń z listy ulubionych"><i class="bi bi-hand-thumbs-down"></i></button>
                            <input type="hidden" id="realestateid" name="realestateid" value=@item.Id>
                        }
                    </td>
                }

    </tr>


    }
</table>

